﻿@model Usuario

@{
    Layout = "../shared/_LayoutLogin.cshtml";
}

<div class="container" style="background-color:rgba(239, 239, 239, 0.95); border-radius: 10px; padding: 20px; width: 300px;">
    @{
        try
        {
            if (TempData["LoginInvalido"] != null)
            {
                <div class="alert alert-danger">
                    <strong>ATENÇÃO!</strong> @TempData["LoginInvalido"]
                </div>
            }
        }
        catch { }
    }
    <form asp-controller="Usuario" asp-action="ValidarLogin">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="login" type="email" asp-for="Email">
        </div>
        <div class="form-group">
            <label for="pwd">Senha:</label>
            <input id="senha" type="password" asp-for="Senha">
        </div>
        <button type="submit" class="btn btn-default">Entrar</button>
        <button type="button" class="btn btn-primary" onclick="javascript: window.location.href='../../Usuario/Registrar'">Registrar</button>
    </form>
</div>
<script>
    $('#login').puiinputtext();
    $('#senha').puiinputtext();
</script>