﻿@model Usuario

@{
    var UsuarioId = 0;
    var Nome = "";
    var Apelido = "";
    var Email = "";
    var Senha = "";
    var Telefone = "";
    try
    {
        UsuarioId = int.Parse(ViewBag.Usuario.UsuarioId.ToString());
        Nome = ViewBag.Usuario.Nome.ToString();
        Apelido = ViewBag.Usuario.Apelido.ToString();
        Email = ViewBag.Usuario.Email.ToString();
        Senha = ViewBag.Usuario.Senha.ToString();
        Telefone = ViewBag.Usuario.Telefone.ToString();
    }
    catch { }
}


<div class="container-fluid form-group card" style="width: 600px;">
    <h2 class="text-center">Meus Dados</h2>

    <form asp-controller="Usuario" asp-action="Registrar">
        <input type="hidden" asp-for="UsuarioId" value="@UsuarioId" />

        <div class="form-group">
            <label>Nome:</label>
            <input type="text" asp-for="Nome" value="@Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Apelido:</label>
            <input type="text" asp-for="Apelido" value="@Apelido" />
            <span asp-validation-for="Apelido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" asp-for="Email" value="@Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Senha:</label>
            <input type="password" asp-for="Senha" value="@Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Telefone:</label>
            <input type="text" asp-for="Telefone" value="@Telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <button type="submit" class="center-block">Salvar Alterações</button>
        <br /><br /><br />
        <button type="button" class="center-block" onclick="Deletar()">Excluir Minha Conta</button>
    </form>
</div>
<script>
    $('input').puiinputtext();
    $('button').puibutton();
    function Deletar() {
        window.location.href = '../Usuario/DeletarConta';
    }
</script>



