﻿@model Usuario

@{
    Layout = "../shared/_LayoutLogin.cshtml";
}

<div class="container" style="background-color:rgba(239, 239, 239, 0.95); border-radius: 10px; padding: 20px; width: 500px;">
    <h3>Registar-me</h3>
    <br />
    <form asp-controller="Usuario" asp-action="Registrar">
        <div class="form-group">
            <label for="email">Nome:</label>
            <input type="text" class="form-control" asp-for="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="apelido">Apelido:</label>
            <input type="text" class="form-control" asp-for="Apelido">
            <span asp-validation-for="Apelido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" asp-for="Senha">
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tel">Telefone:</label>
            <input type="tel" class="form-control" asp-for="Telefone">
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-block btn-success">Registrar-se</button>
    </form>
</div>
<script>
    $('input').puiinputtext();
    $('button').puibutton();
</script>