﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobWeb</title>

    <!--Minhas importações-->

    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/Menu2.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/template/plugins/mustache.min.js"></script>
    <script type="text/javascript" src="~/template/primeelements.min.js"></script>
    <link rel="stylesheet" href="~/template/themes/afterdark/theme.css" />
    <link rel="stylesheet" href="~/template/primeui.css" />
    <link rel="stylesheet" href="~/template/primeui.min.css" />
    <script type="text/javascript" src="~/template/primeui.js"></script>
    <script type="text/javascript" src="~/template/primeui-all.min.js"></script>
    <script type="text/javascript" src="~/template/primeui.min.js"></script>

    <!--Minhas importações-->

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body onload="CarregarUsuarioLogado()">
    <nav class="navbar-inverse navbar-fixed-top row">
        <div class="container" style="margin-left: 0px; width: 300px;">
            <div class="navbar-header collapse navbar-collapse navbar-brand img-responsive"
                 style="margin-left: 10%;" id="Menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" title="Menu" href="javascript: window.location.href='../Cliente/List'">MobWeb</a>
            </div>
        </div>
        <div style="margin-right: 30px; margin-top: 10px;">
            @using Microsoft.AspNetCore.Http;
            @inject IHttpContextAccessor HttpContextAccessor
            <div style="color: #ffffff; text-align:right; padding-top:15px;" id="NomeUsuarioLogado"></div>
        </div>
    </nav>
    <div class="left-container" id="left-container" style="margin-top: 10px;">
        <div id="show-nav">
            <ul id="side">
                <li>
                    <a id="panel5" href="javascript: window.location.href='../Cliente/List'" data-toggle="collapse" data-target="#edit">
                        <i class="fa fa-user-circle-o"></i> Clientes</a>
                </li>
                <li>
                    <a id="panel4" href="javascript: window.location.href='../Cliente/CadastrarCliente'" data-toggle="collapse" data-target="#clipboard">
                        <i class="fa fa-users "></i> Cadastrar Cliente</a>
                </li>
                <li>
                    <a id="panel4" href="javascript: window.location.href='../Usuario/MeusDados'" data-toggle="collapse" data-target="#clipboard">
                        <i class="fa fa-child"></i> Meus Dados</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-container" style="padding-top:25px;" id="right-container">
        @RenderBody()
        @RenderSection("Scripts", required: false)
        <hr />
        <footer>
            <p>&copy; 2019 - MobWeb</p>
        </footer>
    </div>



    <script>
        function CarregarUsuarioLogado() {
            var nome = '@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")'
            if (nome != "") {
                var divNome = document.getElementById("NomeUsuarioLogado");
                divNome.innerHTML = "Olá " + nome + "&nbsp&nbsp&nbsp" + "<a href='../Usuario/Login/0'>Sair</a>";
                divNome.style = "color: #ffffff; text-align:right; padding-top:15px;"
            }
            else {
                window.location.href = "../Usuario/Login";
            }
        }

        $('#show-nav').puislidemenu().puipanelmenu();

    </script>
</body>
</html>
