.Comp {
    position: relative;
    padding: 1cm 15cm 3cm 1cm;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px; 
    color: aqua;
}
.Texto{
    top: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 60px; 
    color: aqua;
    text-align: center;
}
.txt{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 45px; 
    color: aqua;
}
.texto2{
    top: 0px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 45px; 
    color: aqua;
}
.Divisor{
    color: aqua;
    position: absolute; 
	left: 700px;
	top: 180px;
    height: 300px;
  border-left: 3px solid;
}
.Login{
    position: absolute; 
	left: 850px;
	top: 280px;
    height: 200px;
    font-size: 30px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.cadastrar{
    position: absolute; 
	left: 70px;
	top: 150px;
    height: 200px;
    font-size: 30px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.btnenvia{
    position: absolute;
	left: 580px;
    top: 350px;
    font-size: 50px;
}
.imprime{
    position: absolute;
	left: 500px;
    top: 450px;
    font-size: 50px;
    width: 160px;
    height: 40px;
}
.avaliarInstrutor{
    position: absolute;
	left: 390px;
    top: 490px;
    font-size: 50px;
    width: 160px;
    height: 40px;
}
.salvarInstrutor{
    position: absolute;
	left: 580px;
    top: 490px;
    font-size: 50px;
    width: 160px;
    height: 40px;
}
.btnSair{
    position: absolute;
    left: 1100px;
    top: 20px;
}
.btnP{
    width: 80px;
    height: 25px;
}
.btnG{
    width: 160px;
    height: 40px;
}
.test{
    position: fixed;
	left: 800px;
    top: 350px;
    font-size: 50px;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
} 
.btnEntrar{
    position: absolute;
    left: 130px;
    font-size: 20px;
    width: 160px;
    height: 40px;
}
.btn{
    position: absolute;
    background-color: #4CAF50;
    box-shadow:0 5px 0 #006000;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}
.StylebtnSair{
    position: absolute;
    background-color: red;
    box-shadow:0 5px 0 rgb(153, 2, 2);
    border-radius: 8px;
    border:none;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}
.btn:hover{
    position: absolute;
    background:#006000;
    box-shadow:0 5px 0 #003f00;
}
.StylebtnSair:hover{
    position: absolute;
    background: rgb(204, 2, 2);
    box-shadow:0 5px 0 rgb(94, 2, 2);
}
.btn:active{
    position: absolute;
    top: 5px;
    box-shadow: none;
}
.academia{
    background-image: url(academia2.png);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1;

}
.avaliacao{
    background-image: url(avaliacao2.png);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.avaliacao2{
    background-image: url(avaliacao2.png);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;   
    top: 0;
}
.perimetro{
    position: absolute; 
	left: 3px;
	top: 100px;
    height: 400px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.perimetroInstrutor{
    position: absolute; 
	left: 3px;
	top: 185px;
    height: 440px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.dobras{
    position: absolute; 
	left: 300px;
	top: 100px;
    height: 260px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.dobrasInstrutor{
    position: absolute; 
	left: 300px;
	top: 185px;
    height: 290px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.ossos{
    position: absolute; 
	left: 535px;
	top: 100px;
    height: 105px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.ossosInstrutor{
    position: absolute; 
	left: 535px;
	top: 185px;
    height: 135px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.resultados{
    position: absolute; 
	left: 770px;
	top: 100px;
    height: 230px;
    width: 200px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.resultadosInstrutor{
    position: absolute; 
	left: 770px;
	top: 185px;
    height: 215px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.aluno{
    position: absolute; 
	left: 3px;
	top: 10px;
    height: 65px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}
.alunoInstrutor{
    position: absolute; 
	left: 3px;
	top: 95px;
    height: 65px;
    font-size: 16px;
    color: aqua;
    -webkit-text-stroke-width: 0,8px;
    -webkit-text-stroke-color: #0a0a0a;
}