﻿@model Cliente

@{
    var clienteId = 0;
    var RazaoSocial = "";
    var CNPJ = "";
    var Logradouro = "";
    var Numero = 0;
    var Bairro = "";
    var Complemento = "";
    var CEP = "";
    var UsuarioId = 0;
    try
    {
        clienteId = int.Parse(ViewBag.Cliente.ClienteId.ToString());
        RazaoSocial = ViewBag.Cliente.RazaoSocial.ToString();
        CNPJ = ViewBag.Cliente.CNPJ.ToString();
        Logradouro = ViewBag.Cliente.Logradouro.ToString();
        Numero = int.Parse(ViewBag.Cliente.Numero.ToString()); ;
        Bairro = ViewBag.Cliente.Bairro.ToString();
        Complemento = ViewBag.Cliente.Complemento.ToString();
        CEP = ViewBag.Cliente.CEP.ToString();
        UsuarioId = int.Parse(ViewBag.Cliente.UsuarioId.ToString());
    }
    catch { }
}


<div class="container-fluid form-group card" style="width: 600px;">
    <h2 class="text-center">Cadastrar Cliente</h2>
    
    <form asp-controller="Cliente" asp-action="CadastrarCliente">
        <input type="hidden" asp-for="ClienteId" value="@clienteId" />

        <div class="form-group">
            <label>Razão Social:</label>
            <input type="text" asp-for="RazaoSocial" value="@RazaoSocial" />
            <span asp-validation-for="RazaoSocial" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>CNPJ:</label>
            <input type="text" asp-for="CNPJ" value="@CNPJ" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Logradouro:</label>
            <input type="text" asp-for="Logradouro" value="@Logradouro" />
            <span asp-validation-for="Logradouro" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Numero:</label>
            <input type="number" asp-for="Numero" value="@Numero" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Bairro:</label>
            <input type="text" asp-for="Bairro" value="@Bairro" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Complemento:</label>
            <input type="text" asp-for="Complemento" value="@Complemento" />
            <span asp-validation-for="Complemento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>CEP:</label>
            <input type="text" asp-for="CEP" value="@CEP" />
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
        <button type="submit" class="center-block">Registrar Cliente</button>
    </form>
</div>
<script>
    $('input').puiinputtext();
    $('button').puibutton();
</script>