﻿@model IEnumerable<MobWeb.Models.Cliente>

@{
    ViewData["Title"] = "List";
}

<div class="center-block container-fluid">
    <h2>Clientes</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Razao Social</th>
                <th>CNPJ</th>
                <th>Logradoro</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Complemento</th>
                <th>CEP</th>
                <th>ID do Usuario</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
        </thead>

        @{
            foreach (var item in (IEnumerable<Cliente>)ViewBag.ListaClientes)
            {
                <tbody>
                    <tr>
                        <td>@item.ClienteId.ToString()</td>
                        <td>@item.RazaoSocial.ToString()</td>
                        <td>@item.CNPJ.ToString()</td>
                        <td>@item.Logradouro.ToString()</td>
                        <td>@item.Numero.ToString()</td>
                        <td>@item.Bairro.ToString()</td>
                        <td>@item.Complemento.ToString()</td>
                        <td>@item.CEP.ToString()</td>
                        <td>@item.UsuarioId.ToString()</td>
                        <td><button type="button" class="btn btn-danger" onclick="Deletar(@item.ClienteId.ToString())">Excluir</button></td>
                        <td><button type="button" class="btn btn-primary" onclick="Editar(@item.ClienteId.ToString())">Editar</button></td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>
<script>
    function Deletar(id) {
        window.location.href = "../Cliente/DeletarCliente/" + id;
    }
    function Editar(id) {
        window.location.href = "../Cliente/CadastrarCliente/" + id;
    }
</script>